<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{active}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li
      *ngFor="let filter of filterValues" (click)="chooseFilter(filter)">
      <a  [ngClass]="{'selected': filter === currentFilter}">{{filter}}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
</footer>
